/* Switch checkbox */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
label {
  cursor: pointer;
  background-color: gray;
  border-radius: 30px;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  display: block;
  position: relative;
}
label:before {
  content: "";
  position: absolute;
  background: #fff;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  transition: 0.3s;
}
input:checked + label {
  background-color: turquoise;
}
input:checked + label:before {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
